<a href="https://colab.research.google.com/github/ssssihoon/Learn/blob/main/BigData_Analysis/week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [120, 220, 330]
print(a)

[120, 220, 330]

In [ ]:
a = ["sonny", 29, True]
print(a)

['sonny', 29, True]

In [ ]:
a = ["sonny", "channy", "minjae"]
print(a[-2])
print(a[-1])

channy
minjae

In [ ]:
# 슬라이싱 (from ~ to)
a = ["sonny", "kangin", "channy", "minjae", "djpark"]
print(a[:4])
print(a[:])
print(a[1:-1:2])

['sonny', 'kangin', 'channy', 'minjae']
['sonny', 'kangin', 'channy', 'minjae', 'djpark']

['kangin', 'minjae']

In [ ]:
# 변경
a = ["sonny", "kangin", "channy", "minjae", "djpark"]
# djpark -> jpark
a[4] = "jpark"
print(a)

['sonny', 'kangin', 'channy', 'minjae', 'jpark']

In [ ]:
# 리스트타입 데이터 추가 append
a = ["sonny", "kangin", "channy"]
# minjae 추가
a.append("minjae")
a

['sonny', 'kangin', 'channy', 'minjae']

In [ ]:
# 데이터 개수 구하기
a = ["sonny", "kangin", "channy", "minjae", "djpark"]
len(a)

5

In [ ]:
# 딕셔너리 타입 ("키" : "값")
dicts = {"name" : "sonny", "age" : 32, "sex" : "M"}
dicts

{'name': 'sonny', 'age': 32, 'sex': 'M'}

In [ ]:
dicts.keys()

dict_keys(['name', 'age', 'sex'])

In [ ]:
dicts.values()

dict_values(['sonny', 32, 'M'])

In [ ]:
# 딕셔너리 데이터 생성
bag = dict()
# 과일이름 -> 키 , 과일갯수 -> 값 " apple", "banana", "melon"
bag["apple"] = 12
bag["banana"] = 20
bag["melon"] = 2
bag

{'apple': 12, 'banana': 20, 'melon': 2}

In [ ]:
# bag -> "berry" : 15
bag["berry"] = 15
bag

{'apple': 12, 'banana': 20, 'melon': 2, 'berry': 15}

In [23]:
for i in a:
  print(i)

sonny
kangin
channy
minjae
djpark

In [24]:
fruit = ["apple", "melon", "banana"]

# for 하나씩 출력

for i in fruit:
  print(i)

apple
melon
banana

In [25]:
str = "nice one sonny"

for i in fruit:
  print(str)

nice one sonny
nice one sonny
nice one sonny

In [26]:
# range, len 이용해서 fruit의 방번호 출력

for i in range(len(fruit)):
  print(i)

0
1
2

In [27]:
for i in range(len(fruit)):
  print(fruit[i])

apple
melon
banana

In [28]:
for i in range(len(fruit)):
  print(len(fruit[i]))

5
5
6

In [30]:
# a = ['라면', '비빔밥', '김밥']

# 오늘의 메뉴 : 라면
# 오늘의 메뉴 : 비빔밥
# 오늘의 메뉴 : 김밥

a = ['라면', '비빔밥', '김밥']

for i in a:
  print("오늘의 메뉴 :", i)

오늘의 메뉴 : 라면
오늘의 메뉴 : 비빔밥
오늘의 메뉴 : 김밥

In [41]:
for i in range(1, 10):
  # print("2 x", i, "=", 2*i)
  print("2 x {} = {}".format(i, 2*i))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [46]:
# 구구단 2단부터

for i in range(2, 10):
  print("{}단 시작".format(i))
  for j in range(1, 10):
    print("{} x {} = {}".format(i, j, j*i) )
  print("")

2단 시작
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3단 시작
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4단 시작
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5단 시작
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6단 시작
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7단 시작
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8단 시작
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9단 시작
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [47]:
def print_sonny():
  print("nice one sonny")

print_sonny()

nice one sonny

In [48]:
def kian84():
  print("kian 84")

kian84()

kian 84

In [50]:
# 매개 변수 2개를 받아서 합계를 출력해주는 함수 생성
# uf_sum(x1, x2)

def uf_sum(x, y):
  return print(x + y)

n = int(input())
m = int(input())

uf_sum(n, m)

2
3
5

In [51]:
a = input()
a

3

'3'

In [53]:
# input()으로 입력받은 문자열 끝에 무조건 "- nice one sonny"가 이어 붙여지게

def sonny_best(str):
  print(str, "- nice one sonny")


a = input()
sonny_best(a)

Hello
Hello - nice one sonny

In [62]:
# 3개의 숫자를 매개변수로 받아 가장 큰 값을 출력

def uf_max(x1, x2, x3):
  max = 0
  if x1 >= x2:
    if x1 >= x3:
      max = x1
    else :
      max = x3
  elif x2 >= x1:
    if x3 >= x2:
      max = x3
    else:
      max = x2
  return max

x = int(input())
y = int(input())
z = int(input())
print("제일 큰 수 :" , uf_max(x, y, z))

23
21
27
제일 큰 수 : 27